
<p>
  <a href="/{{ repository_code }}/repository/view/{{ preprint.pk }}/pdf/?file=/{{ repository_code }}/repository/object/{{ preprint.pk }}/download/{% if preprint_version %}{{ preprint_version.file.pk }}{% else %}{{ preprint.current_version.file.pk }}{% endif %}/">
    <i class="fa fa-download" aria-hidden="true"></i> Download PDF
  </a>
</p>

<iframe src="/{{ repository_code }}/repository/view/{{ preprint.pk }}/pdf/?file=/{{ repository_code }}/repository/object/{{ preprint.pk }}/download/{% if preprint_version %}{{ preprint_version.file.pk }}{% else %}{{ preprint.current_version.file.pk }}{% endif %}/"
        width="100%" height="100%" style="min-height: 900px;" allowfullscreen
        webkitallowfullscreen></iframe>