<ul>
    {% if article.is_published %}
        <li>
            <a href="{% url 'article_view' 'id' article.pk %}"><i class="fa fa-link">&nbsp;</i> Published Version</a>
             <br />
            Published: {{ article.date_published|date:"Y-m-d" }}
        </li>
    {% endif %}
    {% for version in preprint.preprintversion_set.all %}
        <li>
            <a href="{% site_url 'isolinear_preprint_version' article.pk version.version %}"><i
                    class="fa fa-link">&nbsp;</i> Version {{ version.version }}{% if version == preprint.current_version and not preprint.article.is_published %} (Latest Version) {% endif %}</a><br />
            <a target="_blank" href="/{{ repository_code }}/repository/object/{{ preprint.pk }}/download/{% if preprint_version %}{{ preprint_version.file.pk }}{% else %}{{ preprint.current_version.file.pk }}{% endif %}/">
              <i class="fa fa-download" aria-hidden="true"></i> Download Version PDF
            </a>
        <br />
                    Published: {{ version.date_time|date:"Y-m-d" }}
                    {% if version.get_doi %}<br />DOI: https://doi.org/{{ version.get_doi }}{% endif %}
        </li>
    {% endfor %}
</ul>